// Settings go here
body {
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  font-size: 22px;
}
div {
  box-sizing: border-box;
}

.logo {
  z-index: 999;
  position: absolute;
  top: 8px;
  left: 10px;
  height: 71px;
  width: 54px;
  background-image: url(../assets/civilBug.svg);
  background-size:contain;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 100%;
  background-color: #474C57;
  box-shadow: 0 -1px 7px 0 rgba(0, 0, 0, 0.5);
  color: #A1A19F;
}
.col-1-4 {
  width: 25%;
  float: left;
}
.col-1-2{
  width: 50%;
  float: left;
}

.title-estimate {
  margin: 18px 50px 0px 50px;
  color: #F5A623;
  line-height: 1em;
}
.title-estimate textarea {
  width: 100%;
  background-color: #474C57;
  border: 0;
  resize: none;
}

.breadcrumb-steps {
  margin-top: 18px;
}
.breadcrumb-step-1-4 {
  position: relative;
  float: left;
  width: 25%;
  height: 45px;
}
.breadcrumb-step-line {
  position:absolute;
  /* top: icon.height/2 - line.height/2 */
  top: 10px;
  left: 50%;
  width: 100%;
  height: 6px;
  margin-top: -3px;
  background-color: #8C8C8C;
}
.breadcrumb-step-icon {
  z-index: 2;
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left:  -10px;
  background: url(../assets/inactiveStep.svg);
}
.breadcrumb-step-complete .breadcrumb-step-icon{
  background: url(../assets/completedStep.svg);
}
.breadcrumb-step-active .breadcrumb-step-icon{
  top: -3px;
  left: 50%;
  width: 26px;
  height: 26px;
  margin-left:  -13px;
  background: url(../assets/activeStep.svg);
}
.breadcrumb-step-info {
  position: absolute;
  bottom: 0;left: 0;
  width: 100%;
  font-size: 16px;
  color:  #A1A19F;
  text-decoration:  none;
  line-height: 10px;
  text-align: center;
}
.breadcrumb-step-active .breadcrumb-step-info {
  color: white;
}
.breadcrumb-step-panel {
  position: absolute;
  bottom: 50px;
}

.estimates {
  margin: 0 auto;
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.4em;
}
.estimates-row th{
  text-align: right;
  font-weight: normal;
}
.estimates-row td{
  padding-left: 1em;
  color: #F5A623;
  text-align: left;
}
.estimates-units{
  color: white;
}

.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #474C57;
  color: white;
}
.leaflet-bar a:hover {
  background-color: #575C57;
}
.leaflet-draw-toolbar-button-enabled {

}
.leaflet-draw-edit-edit, .leaflet-disabled {

}
.leaflet-draw-toolbar {
  background-color: #474C57;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polyline{
  background: url(../assets/pointSelect.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 5px 5px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polyline.leaflet-draw-toolbar-button-enabled {
  background: url(../assets/pointSelectActive.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 5px 5px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background: url(../assets/rectSelect.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 8px 8px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle.leaflet-draw-toolbar-button-enabled {
  background: url(../assets/rectSelectActive.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 8px 8px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background: url(../assets/polySelect.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 5px 5px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon.leaflet-draw-toolbar-button-enabled {
  background-image: url(../assets/polySelectActive.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 5px 5px;
}
.feature-panel {
  height: 500px;
  min-width: 350px;
  background-color: rgba(71, 76, 87, 0.9);
  padding: 15px;
  border-radius: 5px;
}
.feature-panel-header {
  color: white;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
}
.feature-searchbar {
  height: 36px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}
.feature-select {
  float:left;
  font-size: 16px;
  color: black;
  line-height: 22px;
  padding: 5px 10px 5px 10px;
  height: 36px;
  width: 119px;
  border-color: white;
}
.feature-search {
  float:left;
  height: 36px;
}
.feature-search > input {
  font-size: 16px;
  line-height: 22px;
  padding: 5px 0px 5px 10px;
  color: black;
  width: 187px;
}
.feature-search > input:focus {
  outline:0;
}
.feature-list{
  list-style: none;
  margin: 10px 5px 5px 5px;
  padding: 0;
}
.feature-list-item{
  padding: 12px;
  border-bottom: solid #A1A19F 1px;
  font-size: 16px;
  font-weight: normal;
}
.feature-list-item-active{
  color: white;
}
.spec-header {
  margin: 0;
  padding: 20px 0px 20px 50px;
  font-size: 22px;
  font-weight: normal;
}
